---
import { supabase } from "../../lib/supabase";
import {getProjects} from "../../service/projects"

import ProjectCard from "../features/ProjectCard.astro";
import ProyectBento from "../features/ProyectBento.astro";
import Cloud from "../ui/style/cloud.astro";

//Traemos los proyectos y sus tecnologías relacionadas

const projects = await getProjects();


const { section, resume } = Astro.props;
---

<section
  id={"projects"}
  class="w-full min-h-screen flex flex-col items-center justify-center py-24 bg-slate-50 relative overflow-hidden"
>
  {/* Elemento decorativo de fondo opcional (circulo difuminado) */}
  <Cloud bgColor="bg-slate-300" location=" top-30 left-20" />
  <Cloud bgColor="bg-indigo-300 " location="bottom-20 right-20" />

  {/* Contenedor principal con ancho controlado */}
  <div class="max-w-7xl mx-auto px-6 w-full z-10">
    {/* Cabecera de la sección */}
    <div class="flex flex-col items-center text-center mb-20">
      <span
        class="text-gray-600 font-semibold tracking-wider uppercase text-sm mb-3"
        >{section}</span
      >
      <h2
        class="text-4xl md:text-5xl font-extrabold text-slate-900 tracking-tight mb-6 leading-tight"
      >
        Proyectos <span class="text-blue-600">Destacados</span>
      </h2>
      {/* Línea decorativa */}
      <div
        class="h-1.5 w-24 bg-linear-to-r from-gray-600 to-blue-500 rounded-full mb-6"
      >
      </div>
      <p class="text-lg lg:text-xl text-slate-600 max-w-2xl leading-relaxed">
        {resume}.
      </p>
    </div>

    {/* Grid de Proyectos con mejor espaciado */}
    <div class="grid place-items-center grid-cols-1 lg:grid-cols-2 gap-10 w-full">
      {
        projects?.map((project, index) => {
          
            const techNames = project.used_tech.map(
            (item) => item.tech.name,);

          return (
            <ProjectCard
              title={project.title}
              description={project.description}
              status={project.status}
              tech={techNames}
              image={project.image_url}
              github={project.github}
              demo={project.demo}
            />
          );
        })
      }
    </div>
  </div>
</section>
