---
import { Image } from 'astro:assets';
// FeatureCard.astro
interface Props {
  title: string;
  description: string;
  icon: string,
  iconBg: string;
  iconColor?: string;
}

const { title, description, iconBg, icon } = Astro.props;
---

<div class=" bg-gray-200 p-8 lg:p-10 rounded-[2.5rem] shadow-sm flex flex-col gap-6 h-full border border-gray-50/50 transition-transform dark:bg-gray-950 hover:-translate-y-1 duration-200 timeline-view animate-blurred-fade-in animate-range-[entry_10%_contain_30%]">
  <div class={`w-14 h-14 ${iconBg} text-white rounded-2xl flex items-center justify-center`}>
    <Image src={icon} width={8} height={8} class="size-8 object-cover" alt={title}>
  </div>

  <div class="space-y-4">
    <h3 class="text-[20px] md:text-2xl font-bold text-slate-900 leading-tight tracking-tight dark:text-slate-300">
      {title}
    </h3>
    <p class="text-slate-600 text-[15px] md:text-lg leading-relaxed font-medium dark:text-slate-400">
      {description}
    </p>
  </div>
</div>