---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";

const {
  title = "Christian Parisca | Ingeniero de Sistemas & Desarrollador Web",
  description,
  image,
} = Astro.props;
const author = "Christian Parisca";
---

<!doctype html>
<html lang="en">
  <head>
    <Seo {title} {description} {image} />
    <slot name="head" />
  </head>
  <body>
    <Header author={author} />
    <main>
      <slot />
    </main>
    <Footer author={author} />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: white;
    scroll-behavior: smooth;
  }
</style>
